<div class="auth-wrapper">

<h2>Iniciar Sesión</h2>

<form action="/auth/login" method="POST" id="form-container">

<div class="flexbox-row">
  <div class="auth-wrapper-label"><label for="username">Nombre de usuario</label></div>
  <input id="username" type="text" name="username" placeholder="Felix Rodríguez de la Fuente">
  </div>

<div class="flexbox-row">
  <div class="auth-wrapper-label"><label for="password">Contraseña</label></div>
  <input id="password" type="password" name="password" placeholder="Contraseña1234">
</div>

  {{#if message }}
    <div class="error-message">{{ message }}</div>
  {{/if}}


  <button class="btn-confirm">Iniciar sesión</button>

  <p class="account-message">
¿Todavía no te has registrado? Prueba <a href="/auth/signup">registrándote aquí</a>
  </p>
</form>
</div>