<div class="auth-wrapper">
  <h2>Registrar una nueva cuenta</h2>

  <form action="/auth/signup" method="POST" id="form-container" enctype="multipart/form-data">
    
    <div class="flexbox-row">
      <div class="auth-wrapper-label">
        <label for="username">Nombre de usuario</label>
        </div>
      <input id="username" type="text" name="username" placeholder="Felix Rodríguez de la Fuente">
    </div>

    <div class="flexbox-row">
      <div class="auth-wrapper-label">
        <label for="password">Contraseña</label>
        </div>
      <input id="password" type="password" name="password" placeholder="Contraseña1234">
    </div>

    <div class="flexbox-row">
      <div class="auth-wrapper-label"><label for="password">Foto de perfil <br>(puede ser de frente)</label></div>
      <input type="file" name="picture">
    </div>
    {{#if message }}
    <div class="error-message">{{ message }}</div>
    {{/if}}

    <br><br>

    <button class="btn-confirm">Crear cuenta</button>

    <p>
      ¿Ya estás registrado? Prueba a <a href="/auth/login">iniciar sesión</a>
    </p>
  </form>
</div>