<section>
  <h1>Lista de animales encontrados</h1>

  {{#each animal}}
<div class="border">
  {{this.name}}
  {{this.description}}
  <img src="{{this.animalImg.url}}" alt="">
  {{this.location}} 
</div>
  {{/each}}
</section>