<h1>Lista de animales encontrados</h1>

<ul>
  {{#each animal}}
  <li>{{this.name}}</li>
  <li>{{this.description}}</li>
  <li><img src="{{this.animalImg.url}}" alt=""></li> 
  <li>{{this.location}}  </li>    
  {{/each}}
</ul>