<div class="auth-wrapper flexbox-row">
  <div class="flexbox-column">
    <form action="/post-list" method="POST" id="" enctype="multipart/form-data">
      <div class="flexbox-row">
        <div class="auth-wrapper-label"><label for="title">Título del post</label></div>
        <input type="text" name="title" placeholder="Da un título a tu post" value="title">
      </div>

      <div class="flexbox-row">
        <textarea cols="63" rows="8" name="content" value="content"
          placeholder="Describe cuando, cómo y dónde obtuviste esta foto. O pon el mensaje que te dé la gana, soy un placeholder, no el FBI."></textarea>
      </div>

      <div class="flexbox-row">
        <div class="auth-wrapper-label"><label for="animal">Nombre del animal</label></div>
        <input type="text" name="animal" placeholder="Cotorra vulgar, mejillón zebra..." value="animal">
      </div>


      <div class="flexbox-row">
        <textarea cols="63" rows="8" name="description" value="description"
          placeholder="¿Qué nos puedes contar de este animal?"></textarea>
      </div>

      <div class="flexbox-row">
        <div class="auth-wrapper-label"><label for="animal">Imagen del animal</label></div>
        <input type="file" name="image">
      </div>

      <div class="flexbox-row">
        <div class="auth-wrapper-label" style="width: 40rem"><label for="location">Para finalizar, haz click en el punto en el que encontraste a este animal usando el mapa</label></div>
      </div>

      <input id="lat" type="text" name="lat">
      <input id="lng" type="text" name="lng">

      <button type='submit'>Crear Post</button>
    </form>
  </div>


  <div style="width: 50vw" id="choose-map">

  </div>
</div>







<script src="https://maps.googleapis.com/maps/api/js?key={{GOOGLEMAPSAPIKEY}}&libraries=places"></script>
<script type="text/javascript" src="/javascripts/mapa.js"></script>