<form action="/post-list" method="POST" id="" enctype="multipart/form-data">

  <label>Crear Post</label>
  <input type="text" name="title" placeholder="Da un título a tu post " value="title">
  <input type="text" name="content" value="content" placeholder="Describe cuando, cómo y dónde obtuviste esta foto">
  <input type="file" name="image" id="">
  <button type='submit'>Crear Post</button>
</form>