{{!-- <div class="auth-wrapper">
  <h2>CREA UN COMENTARIO</h2>
<form action="/create-comment" method="POST" id="form-container">

   <div class="flexbox-row">
    <div class="auth-wrapper-label">
      <label >Título del Comentario</label>
      <input id="username" type="text" name="title" placeholder="Da un título a tu post " value="title">
    </div>
  </div>
 
 
 
   <div class="flexbox-row">
      <div class="auth-wrapper-label">
        <label>Escribe aquí tu cmentario</label>
      <input  id="password" type="text" name="content" value="content" 
     placeholder="Comentario">
   </div>
  </div>


</form>
</div> --}}


<div class="auth-wrapper">
  <h2>Crea un nuevo comentario</h2>

  <form action="/create-comment-post/{{_id}}" method="POST" id="form-container">
    
 

    <div class="flexbox-row">
      <div class="auth-wrapper-label">
        <label for="content">Escribe aquí tu comentario</label>
        </div>
      <input id="content" type="text" name="content" placeholder="Tu comentario, aquí">
    </div>

  <button type='submit'  class="btn-confirm-comment">Create Comment</button>
    