<form action="/profile-edit/{{user._id}}" method="POST" id="form-container" enctype="multipart/form-data">

  <label>Cambiar foto de perfil</label>
  <input type="file" name="image">
  <button type='submit'>Cambiar foto</button>
</form>