<div class"auth-wrapper"=>

  <form action="/edit-post/{{this.postDetail._id}}" method="POST" id="form-container">
    <div class="flexbox-row">
      <div class="auth-wrapper-label">
        <label>Edita tu Post</label>
      </div>
      <input type="text" name="title" value="{{this.postDetail.title}}">
    </div>

    <div class="flexbox-row">
      <div class="auth-wrapper-label">
        <label>Edita tu Post</label>
      </div>
      <input type="text" name="content" value="{{this.postDetail.content}}">
    </div>

    <div class="flexbox-row">
      <div class="auth-wrapper-label">
        <label>Edita tu Post</label>
      </div>
      <button type='submit'>Editar post</button>
    </div>

  </form>
</div>

