Welcome to the wildlife forum association
pribando pribando
{{#each post}}
<div><ul>
  <li>{{this}}</li>
  <li>{{this.content}}</li>
  <li><img src="{{this.postImg}}" alt=""></li>

</ul>
</div>
{{/each}}





<a href="/create-post">
    <button>Create New Post</button>
</a>



