<section>
  <div class="auth-wrapper centerhx">
<div class="forum-header space">
  
 <h1 class="forum-title">Galería de posts</h1> 
  {{#if user}}
  <a href="/create-post" class="button">
    <button class="btn-confirm"> Nuevo Post</button>
  </a>
  {{/if}}
</div>
</div>
<div class="forum-wrapper">
  {{#each post}}
  <ul>
    <li>
      <h3><a href="/post-detail/{{this._id}}">{{this.title}}</a></h3>
    </li>
    <li>
      <h4>{{this.content}}</h4>
    </li>
    <li><img src="{{this.postImg}}" alt=""></li>
  </ul>
  {{/each}}
</div>

</section>