Welcome to the wildlife forum association
pribando pribando
{{#each post}}
<div><ul>
  <li><a href="/post-detail/{{this._id}}">{{this.title}}</a></li>
  <li>{{this.content}}</li>
  <li><img src="{{this.postImg}}" alt=""></li>

</ul>
</div>
{{/each}}




{{#if user}}
<a href="/create-post">
    <button>Create New Post</button>
</a>
{{/if}}


