
{{#if youAreTheOwnerOfThisPost}}
<a href="/edit-post/{{this._id}}">
    <button>Edit my post</button>
</a>
{{/if}}
<div><ul>
  <li>{{title}}</li>
  <li>{{content}}</li>
  <li><img src="{{postImg}}" alt=""></li>
</ul>

</div>

