* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font: 10px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.flexbox-row {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.flexbox-column {
  display: flex;
  flex-direction: column;
  justify-content: baseline;

}

button {
  border-radius: 1rem;
  padding: 0.7rem 2rem;
  box-shadow: 0 4px 2px -2px gray;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  border: none;
}

.btn-confirm {
  background-color: #006e2e;
  color: #b3dfff;
  max-width: 15rem;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
  height: 70px;
  padding: 25px;
  font-weight: bold;
  background: #006e2e;
  background: -moz-linear-gradient(
    left,
    #006e2e 0%,
    #106b34 30%,
    #1f683b 50%,
    #28663f 75%
  );
  background: -webkit-linear-gradient(
    left,
    #006e2e 0%,
    #106b34 30%,
    #1f683b 50%,
    #28663f 75%
  );
  background: linear-gradient(
    to right,
    #006e2e 0%,
    #106b34 30%,
    #1f683b 50%,
    #28663f 75%
  );
  box-shadow: 0 6px 2px -2px gray;
  margin-bottom: 1.5rem;
}

nav ul {
  display: flex;
  flex-direction: row;
}

nav ul li {
  margin-left: 2.5rem;
}

nav a {
  color: #b3dfff;
  text-decoration: none;
  transition: all 0.5s;
}

nav a:hover {
  color: #ffffff;
}

nav div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.auth-wrapper {
  display: flex;
  flex-direction: column;
  padding: 3.5rem;
  font-size: 1.8rem;
}

.auth-wrapper h2 {
  font-weight: bold;
  font-size: 2.3rem;
  margin-bottom: 3rem;
}

.auth-wrapper-label {
  margin-right: 1.5rem;
  width: 20rem;
}

.auth-wrapper input {
  border-radius: 5px;
  width: 300px;
  padding: 8px;
  margin-bottom: 2rem;
}

.auth-wrapper p {
  margin-bottom: 1.5rem;
}

.user-picture {
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  margin: 0 1.5rem;
}

.user-profile-pic {
  height: 20rem;
  width: 20rem;
  border-radius: 2rem;
  border: 0.2rem solid white;
  margin-right: 2.5rem;
}

.space {
  justify-content: space-between;
}
.change-picture {
  align-items: center;
}

.background-index{
  background-image: url("../images/otoño.jpg");
  background-color: transparent;
}

.home-wrapper {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 3.5rem;
  
}

.home-wrapper h1 {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.post-wrapper {
  display: flex;
  justify-content: space-between;
}

.post-collection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  border-radius: 10px;
  padding: 1rem;
  width: 25vw;
}

.post-collection h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.post-preview img {
  width: 15rem;
  margin-bottom: 1.5rem;
  border-radius: 2rem;
}

.post-title {
  margin-bottom: 0.7rem;
  font-size: 1.2rem;
}

#lng, #lat {
  display:none;
}

.post-title h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.7rem;
}

.random-animal {
  display: flex;
  flex-direction: column;
  max-width: 100rem;
  justify-content: left;
  margin: 1rem 0;
}

.random-animal-photo {
  width: 100%;
}

.random-animal-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: right;
}

.random-animal-info h2 {
  font-size: 2rem;
  margin: 1rem 0;
  font-weight: bold;
}

.random-animal-info p {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  text-align: justify;
}

/////clases Agus
.forum-header{
 display: flex;
flex-direction: row;
align-items: center;
margin-bottom: 2rem;
width: 80vw;
justify-content: space-between;
}

.forum-title{
font-size: 3.5rem;
font-weight: bold;
margin-bottom: 1.5rem;
}
.forum-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.forum-wrapper ul {
  padding: 1rem;
}

.forum-wrapper img {
  width: 15rem;
  height: 15rem;
  margin-bottom: 1.5rem;
  border-radius: 2rem;
}

.forum-wrapper h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.7rem;
}

.forum-wrapper h4 {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.7rem;
}

.forum-wrapper a {
  text-decoration: none;
  color: black;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-details-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  border-radius: 10px;
  padding: 20px;
  width: 100rem;
  margin: 2rem;
}

.post-details-view h1 {
  font-size: 3.5rem;
  text-align: center;
}
.post-details-view h2 {
  font-size: 2.5rem;
}

.post-details-content {
  width: 250px;
  margin-bottom: 1.5rem;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-details-content img {
  width: 100rem;
  height: 70rem;
}

.border {
  border: 2px solid black;

}

.comment-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  font-size: 1.5rem;
  border-radius: 10px;
  padding: 20px;
  width: 75rem;
  margin: 2rem;
  color: #b3dfff;
}
.comment-details-view {
  background: rgb(138, 67, 72);
}

#choose-map {
  width: 70vw;
  height: 70vh;
}

.centerbtn {
  justify-content: center;
}
.centerhx {
  align-items: center;
}

.create-comment-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



////////

#map {
  width: 70vw;
  height: 70vh;
}

#map h1 {
  margin: 1rem 0rem;
  font-size: 2rem;
  font-weight: bold;
}

#map p {
  margin: 0.7rem 0rem;
  font-size: 1.1rem;
}
